<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <div class="home-button">
      <a class="navbar-brand" href="{% url 'home' %}">home</a>
    </div>
    <a class="navbar-brand" href="{% url 'Shoes' %}">Shoes</a>

    <a class="navbar-brand" href="{% url 'Shirts' %}">Shirts</a>
    {% if user.is_authenticated %}
    <p>Bienvenido {{user.username}}</p>
    <a class="btn" href="{% url 'Update_User' %}">User info</a>
    <form action="{% url 'Logout' %}" method="POST">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    {% else %}
    <a class="btn btn-primary" href="{% url 'Login' %}">Login</a>
    <a class="navbar-brand" href="{% url 'Register' %}">Register</a>
    {% endif %}
  </div>
</nav>
