{% extends 'padre.html' %} {% block changing_content %}
<h1>Teachers list</h1>
<ul>
  {% for teacher in teachers %}
  <li>{{teacher}}</li>
  <div style="display: flex">
    <form action="{% url 'Delete_Teacher' teacher.id %}" method="DELETE">
      {% csrf_token %}
      <button type="submit">Delete</button>
    </form>
    <button><a href="{% url 'Update_Teacher' teacher.id %}">Update</a></button>
  </div>
  {% endfor %}
  <a href="{% url 'Add_Teacher' %}">Add teacher</a>
</ul>

{% endblock changing_content %}
